<div class="titleContainer">
  <h1>Welcome to KEA's room booking system</h1>

</div>

<div class="titleContainer">
  <form [formGroup]="dateForm">
  <mat-form-field class="example-full-width">
    <input id="date" formControlName="date" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input formControlName="fromtime" id="fromtime"  start="08:00" end="22:00" value="" atp-time-picker matInput placeholder="From"/>
  </mat-form-field>
  <mat-form-field class="example-full-width">
   <input formControlName="totime" id="totime" matInput  start="08:00" end="22:00" atp-time-picker value="" placeholder="To"/>
  </mat-form-field>
</form>
</div>


<div class="rowContainer">
<div class='cardContainer'>
<mat-card class="example-card">
  <img mat-card-image src="https://kea.dk/slir/w720/images/DA/Om-KEA/KEA_Okt_17_001_Hi-Res.jpg" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <mat-card-title>KEA GULDBERGSGADE</mat-card-title>
    <mat-card-subtitle>Guldbergsgade 29N, DK-2200 Copenhagen N</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button  (click)="getBookingTimes();" [disabled]="dateForm.invalid" routerLinkActive="active">Book</button>
  </mat-card-actions>
</mat-card>
</div>

<div class='cardContainer'>
<mat-card class="example-card">
  <img mat-card-image src="https://kea.dk/slir/w720/images/DA/Om-KEA/KEA_Okt_17_229_Hi-Res_edit.jpg" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <mat-card-title>KEA LYGTEN 16</mat-card-title>
    <mat-card-subtitle>Lygten 16, DK-2400 Copenhagen NV</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button disabled routerLinkActive="active">Book</button>
  </mat-card-actions>
</mat-card>
</div>

<div class='cardContainer'>
<mat-card class="example-card">
  <img mat-card-image src="https://kea.dk/slir/w720/images/DA/Om-KEA/KEA_Okt_17_188_Hi-Res.jpg" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <mat-card-title>KEA LYGTEN 37</mat-card-title>
    <mat-card-subtitle>Lygten 37, DK-2400 Copenhagen NV</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button disabled routerLinkActive="active">Book</button>
  </mat-card-actions>
</mat-card>
</div>
</div>
