.example-card {
  max-width: 300px;
}

.cardContainer{
  display: inline-block;
  padding:10px;
}
.rowContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-flow: row wrap;
}
.titleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

h1{
  padding: 0px;
  text-align: center;
}

.mat-card-content, .mat-card-header .mat-card-title {
  font-size: 20px;
}
.example-full-width{
  padding-left: 10px;
  padding-right: 10px;

}
