<div>

<form action="" [formGroup]="registrationForm ">
  <div>
    <legend>Email</legend>
      <input type="email" name="email" id="email">
  </div>
  <div>
    <legend> Password</legend>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <legend> Firstname</legend>
    <input type="text" name="firstname" id="firstname">
  </div>

  <div>
    <legend>Lastname</legend>
    <input type="text" name="lastname" id="lastname">
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>


</div>
